* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 420px;
    width: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
}

.texto {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

}

.texto h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    max-width: 10000px;
    height: 420px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: slider 20s infinite;
}

.slider ul img{
    width: 100%;
    filter: brightness(40%);
}

@keyframes slider {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/*header para navegar*/

.pre-header {
    margin-top: 420px;
    width: 100%;
    height: 50px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
}

.pre-header li{
    margin: 20px;
    list-style-type: none;
}

.pre-header li a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.pre-header li a:hover{
    color: #eb922d;
}

