@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #111;
}

body::-webkit-scrollbar-thumb {
  background: #fabc74;
  border-radius: 10px;
}


header{
    align-items: start;
    background: #fca43f00;
    display: block;
    align-items: center;
    background: url(extern-arch/portada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    
}

header h1{
    font-size: 0.7rem;
    text-align: center;
    font-family: "Inria Serif", serif;
    color: #ffffff;
}

.sub-header{
    background: #00000060;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    margin-left: 50px;
}

.menu-ham{
    position: absolute;
    background: #00000060;
    backdrop-filter: blur(0.4rem);
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 300px;
    top: 0;
    right: -500px;
    transition: 0.1s ease-out;
    z-index: 999;
}


.openMenu.remove{
    display: none;
}

.btn-close{
    position: absolute;
    top: 8px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
}


nav{
    width: 100%;
    align-items: center;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li{
    height: 20px;
    text-align: center;
    font-family: "Inria Serif", serif;
    font-size: 1.6rem;
    margin: 10px;
}

nav ul li:hover a{
    color: #000;
    background-color: #fff;
}

nav ul li a{
    text-decoration: none;
    display: block;
    width: 200px;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
   
}

.menu-ham.actives{
    display: flex;
    right: 0;
}

.openMenu{
    position: absolute;
    right: 20px;
    top: 8px;
    border: none;
    background: none;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.openMenu span{
    font-size: 2rem;
}

.hero {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.hero-text { 
    margin-top: 50px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  align-items: center;
  color: #fff;
}

.hero-paragraph {
    align-items: center;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.hero-text.active .hero-paragraph {
  max-height: 2000px;
}

.hero-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.cicle{
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: 0.3s ease;
}

.cicle:hover{
    background-color: #fff;
    transform: translateY(10px);
}

.cicle:hover h1{
    color: #000;
}

.hero-text.active .hero-toggle {
  transform: rotate(180deg);
}

.br {
    position: absolute;
    width: 140px;
    height: 30px;
    background:none;
    cursor: pointer;
    color: #fff;
    border: 2px solid#fff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.br:hover{
    background-color: #fff;
    color: #000;
}

.btns-menu{
    right: 290px;
}

.btns-reservar{
    right: 120px;
}

.botones button:hover{
    background-color: #fabc74;
}

.present-card {
    font-family: "Inria Serif", serif;
    background-color: #fca43f;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
 
    position: absolute;
    padding: 20px;
    text-align: end;
    transition: all 0.3s ease-out;

    transform: translateX(0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: auto;
        right: 20px;
        bottom: 90px;
        background-color: #fabc74;
}

.present-card:hover{
        transform: translateY(-10px);
}

    .present-card img{
        position: static;
        width: 30px;
        height: 30px;
    }


.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin-top: 80px;
}

.logo1 img{
    height: auto;
    max-width: 600px;
}

.productos{
    display: flex;
    padding: 0px;
    height: 100vh;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
}

.slider-wrapper {
 display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 20px;
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
}

.card-item {
  flex-shrink: 0;
      min-width: 300px;
  scroll-snap-align: start;
  flex-shrink: 0;
    padding: 20px;
    width: 200px;
    height: 370px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-color: #fca43f;
}



.card-item:hover img{
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.card-item img{
    display: flex;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: height 0.4s ease;
}

.card-item h2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fabc74;
    width: 100%;
}

.card-item span{
    display: none;
}

.card-item:hover span{
    display: block;
}

.botonotes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prev{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fca43f;
    border-radius: 50%;
    margin-right: 10px;
}

.prev:hover{
    background-color: #fabc74;
}

.next{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fca43f;
    border-radius: 50%;
    margin-left: 10px;
}

.next:hover{
    background-color: #fabc74;
}


.slider-galeria {
    position: relative;
    display: flex;
    height: 100vh;
    background: #fca43f;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    z-index: -1;
}

.text {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 20px;
}

.slider2 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    width: 800%;
    height: 100%;
    animation: slide 30s infinite;
}

.slide {
    width: 12.5%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    12% { transform: translateX(0); }
    14% { transform: translateX(-12.5%); }
    26% { transform: translateX(-12.5%); }
    28% { transform: translateX(-25%); }
    40% { transform: translateX(-25%); }
    42% { transform: translateX(-37.5%); }
    54% { transform: translateX(-37.5%); }
    56% { transform: translateX(-50%); }
    68% { transform: translateX(-50%); }
    70% { transform: translateX(-62.5%); }
    82% { transform: translateX(-62.5%); }
    84% { transform: translateX(-75%); }
    96% { transform: translateX(-75%); }
    100% { transform: translateX(-87.5%); }
}


.chef{
    display: flex;
    height: 100vh;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.chef img{
    height: 100%;
}

.texto{
    padding: 40px;
    text-align: center;
}

.contact{
    background: url(extern-arch/portada.png);
    height: 100vh;
    display: flex;
}

.mapa {
    height: 100%;
    flex: 1;
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

form {
    color: #fff;
    flex: 1;
    width: 500px;
    padding: 40px;
    font-family: "Inria Serif", serif;;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form h1{
    font-size: 3rem;
}

form label{
    font-size: 1.3rem;
}

form input{
    display: flex;
    height: 35px;
    color: #fff;
    font-family: "Inria Serif", serif;
    background: none;
    border: none;
    margin-bottom: 10px;
    outline: none;
    font-size: 1.2rem;
    border-bottom: solid #fca43f;
}

textarea{
    height: 100px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: "Inria Serif", serif;
    font-size: 1.2rem;
    border: solid #fca43f;
    padding: 10px;
}

.what{
    height: 40px;
    margin-top: 10px;
    background-color: #fca43f;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s ease;
}

.what:hover{
    background-color: #fabc74;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1000px);
    transition: all 0.3s ease-out;
}

 .overlay.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.popup {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0px;
    overflow: auto;
    max-width: 700px;
    max-height: 600px;
    width: 90%;
    position: relative;
}

.popup img{
    width: 50%;
}

.cart {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: #f44336;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.reopen-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
    width: 50px;
    z-index: 999;
    height: 50px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffba6a;
    transition: 0.3s ease-out;
}

.reopen-btn:hover {
    border-radius: 30px;
    width: 200px;
}

.reopen-btn span{
    transition: color 0.2s ease;
}

.reopen-btn span:not(:first-child){
    display: none;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.reopen-btn:hover span:not(:first-child){
    display: inline-flex;
    transform: scale(1);
}

.reopen-btn span:hover,
.reopen-btn span:hover ~ span {
    color: #ffffff;
}




.contacts-btn {
    position: fixed;
    right: 20px;
    bottom: 110px;
    border-radius: 100%;
    width: 50px;
    z-index: 999;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #ffba6a;
}

.contacts-btn img{
    width: 30px;
}


@media (max-width: 700px) {


    

    .logo{
    margin-left: 0px;

}

    .br{
        display: none;
    }

    .openMenu{
        top: 25px;
    }

    .sub-header{
        height: 70px;
        justify-content: center;
    }

    .logo1{
        height: 300px;
        width: 100%;
    }

    .logo1 img{
    height: auto;
    max-width: 50%;
    }

    .card-item{
        min-width: none;
        width:30px;
        height: 320px;
    }

    .chef{
        flex-direction: column;
        
    }

    .chef img{
        height: 450px;
    }

    .present-card{
        height: 7vh;
        width: 25vh;
    }

    .cart{
        flex-direction: column;
    }

    .contact{
        flex-direction: column-reverse;
        align-items: center;
    }


    form {
        max-width: 350px;
        padding: 0;
        margin: 20px;
    }

    form h1{
        font-size: 1.8rem;
    }

    .texto{
        padding: 10px;
    }

    .present-card {
        transform: translateX(0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: auto;
        right: 20px;
        bottom: 90px;
        background-color: #fabc74;
    }

    
}

